.roster-container {
  position: relative;
  width: 10vw;
  height: 90vh;
  text-align: center;
  resize: both;
  border: 1px solid #ccc;
  overflow: hidden;
}

.roster-title {
  margin: 0;
  text-align: center;
  cursor: grab;
  background-color: #343a40;
  color: white;
  padding: 10px;
}

.table-container {
  height: 100%;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #343a40;
  color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
