.sidebar {
  flex: 0 0 150px;
  background-color: #36454F;
  border-right: 1px solid #36454F;
  overflow-y: auto;
  height: 100vh;
  overflow-y: auto;
}

.sidebar h2 {
  color: white;
  text-align: center;
}

.sidebar button {
  width: 200px; /* Fixed width for all buttons */
  text-align: left; /* Ensure text is centered */
  background-color: #b0c4de;
  padding: 5px;
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  transition: background-color 0.12s ease;
}

.sidebar button:hover {
  background-color: #4682B4; /* Maroon hover color */
  color: #ffffff; /* Change text color to white for contrast */
}
