.outer-container {
  display: flex;
  flex-direction: column; /* Corrected */
  align-items: center; /* Corrected */
  justify-content: center; /* Corrected */
  height: 100vh;
  background-color: #f0f0f0; /* Corrected */
  margin-left: 150px;
  overflow: auto;
}

.inner-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Corrected */
  max-width: 1240px;
}

.box {
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: black;
  border: 2px solid white;
  padding: 20px;
  margin-bottom: 20px;
  width: 200px;
  text-align: center;
  overflow: hidden;
}
