.outer-container {
  display: flex;
  flex-direction: column; /* Corrected */
  align-items: center; /* Corrected */
  justify-content: center; /* Corrected */
  height: 100vh;
  background-color: #f0f0f0; /* Corrected */
  margin: 200px;
}

.inner-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Corrected */
  max-width: 1240px;
}

.spin-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

.box {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  border: 2px solid white;
  padding: 20px;
  margin-bottom: 20px;
  width: 200px;
  text-align: center;
}
