.whiteboard-controls-container {
  width: 100vw;
}

.whiteboard-header {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
}

.whiteboard-controls {
  display: flex;
  gap: 3px;
  align-items: flex-end;
  border-bottom: 2px solid black;
  background-color: black;
}
